.hero {
	background: url('images/bg-desktop.svg') center/100% no-repeat;
	background-color: hsl(257, 40%, 49%);
	background-size: cover;
}

.container {
	padding: 2% 5%;
}

/* HEADER */

.hero-head img {
	width: 12em;
}


/* BODY */

.hero-body img {
	max-width: 100%;
	min-width: 50%;
    width: 95%;
}

.hero-body p {
	padding: 5% 0;
}

.hero-body button {
	width: 40%;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.hero-body .button:hover {
  background-color: hsl(348, 100%, 61%);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-2px);
}


/* FOOTER */

.socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.socials i.fab {
	color: #ffffff;
	border-radius: 50%;
	border: 1.2px solid white;
	width: 42px;
	height: 42px;
	line-height: 42px;
	/* line-height = height for vertical center */
	text-align: center;
	margin: 0 8px;
	margin: 0 0.5rem;
}


/* MEDIA QUERRY */


/* MOBILE */

@media screen and (max-width: 1024px) {
	.hero {
		background: url("images/bg-mobile.svg") center top/100% no-repeat;
		background-color: hsl(257, 40%, 49%);
		height: 100%;
	}
	.container {
		padding: 5% 7%;
	}

	.cloumn {
		width: 100%!important;
	}
	.hero-head img {
		width: 8em;
	}

	.hero-body img {
		width: 100%;
	}

	.hero-body h1 {
		font-size: 1.7rem!important;
	}

	.hero-body button {
		font-size: 1rem!important;
	}

	.socials {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}


/* IPAD PRO */
@media (min-width: 768px) and (max-width: 1024px)  {
	.hero-head img {
		width: 16em;
	}

	.hero-body {
		text-align: center;
	}
	.columns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		align-items: center;	
	}

	.column {
		width: 100%;
	}
	.hero-body figure {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero-body h1 {
		font-size: 4rem!important;
	}
	.hero-body p {
		font-size: 2rem!important;
	}
	.hero-body button {
		font-size: 2.5rem!important;
	}
	.socials i.fab {
		width: 64px;
		height: 64px;
		line-height: 64px;
		/* line-height = height for vertical center */
		text-align: center;
	}
	.socials i {
		font-size: 2rem!important;
	}
}

/* FIX SAFARI WRONG PADDING */

@media screen and (min-width: 1088px) {
	.container {
		max-width: 100%;
		width: 100%;
	}
}
